canvas {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}

.scene-nav {
	font-size:2em;
	position: absolute;
	top: 90%;
	transform: translateY(-50%);
	z-index: 10;
	background: none;
	border: 0;
	right: 0;
	padding: 1em;
	color: var(--color-nav);
	justify-content: space-between;
}
.scene-nav--prev i:hover,
.scene-nav--next i:hover{
	background-color: white;
	border-radius: 100%;
}
.scene-nav:focus {
	outline: none;
}

.scene-nav--prev {
	left: 630px;
}
.scene-nav--next {
	right: 550px;
}

.slide-wrapper {
	display: none;
}

.icon--arrow-nav-next {
	transform: rotate(-180deg);
}